*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/jarRepositories.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Don't include these config files
google-services.json

# Don't include schemas
/fridge-db-room/schemas

# VSCode stuff
.project
.settings
.classpath
